@import "./../../styles/colors.scss";
@import "./../../styles/fonts.scss";
@import "./../../styles/general.scss";

.footerContainer {
  color: white;
  padding: 20px;
  background-color: #35353a;
}
.footerItem {
  margin: 10px;
}
