@import "./../styles/colors.scss";
@import "./../styles/fonts.scss";
@import "./../styles/general.scss";

.disqus {
  background-color: #35353a;
  padding: 20px;
}
.pageBody {
  margin-right: 20px;
  margin-left: 20px;
}
