@import "./../../styles/colors.scss";
@import "./../../styles/fonts.scss";
@import "./../../styles/general.scss";

.selectModalContainer {
  padding: 40px;
  margin: 20px;
  background-color: $darkgrey1;
  border-radius: 15px;
  color: white;
}
.formContainer {
  border-radius: 15px;
  background-color: white;
  padding: 40px;
  margin: 20px;
}

.formComponent {
  margin: 20px;
}
.dropzone {
  padding: 40px;
  background-color: lightgrey;
  border-radius: 15px;
}

.dropzoneImage {
  width: 50px;
  height: 50px;
}

@keyframes icon {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}
.loadingContainer {
  height: 100vh;
}

.loadingIcon {
  animation: icon 1s infinite;
}

.headerContainer {
  padding: 20px;
  margin-right: 20px;
  margin-left: 20px;
}

.headerIcon {
  width: 25;
  height: 25;
}

.footerContainer {
  color: white;
  padding: 20px;
  background-color: #35353a;
}
.footerItem {
  margin-left: 10px;
  margin-right: 10px;
}
.footerItem div {
  margin: 10px;
}

.navbarContainer {
  background-color: #35353a;
  padding: 10px;
  padding-right: 40px;
  color: white;
}
.navbarTab {
  color: white;
  text-decoration: none;
  margin-left: 40px;
}
