@import "./../../styles/colors.scss";
@import "./../../styles/fonts.scss";
@import "./../../styles/general.scss";

.selectModalContainer {
  padding: 40px;
  margin: 20px;
  background-color: $darkgrey1;
  border-radius: 15px;
  color: white;
}
.formContainer {
  border-radius: 15px;
  background-color: white;
  padding: 40px;
  margin: 20px;
}

.formComponent {
  margin: 20px;
}
.dropzone {
  padding: 40px;
  background-color: lightgrey;
  border-radius: 15px;
}

.dropzoneImage {
  width: 50px;
  height: 50px;
}

@keyframes icon {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}
.loadingContainer {
  height: 100vh;
}

.loadingIcon {
  animation: icon 1s infinite;
}

.headerContainer {
  padding: 20px;
  margin-right: 20px;
  margin-left: 20px;
}

.headerIcon {
  width: 25;
  height: 25;
}

.footerContainer {
  color: white;
  padding: 20px;
  background-color: $darkgrey3;
}
.footerItem {
  margin-left: 10px;
  margin-right: 10px;
}
.footerItem div {
  margin: 10px;
}

.navbarContainer {
  background-color: $darkgrey2;
  color: white;
}
.navbarTab {
  color: white;
  text-decoration: none;
  padding: 10px;
}
.navbarTab:hover {
  background-color: $darkgrey3;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: $darkgrey2;
  min-width: 200px;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: $lightgrey1;
  z-index: 1;
}

.sideMenuContainer {
  position: fixed;
  z-index: 999;
  background-color: $darkgrey2;
  border-style: solid;
  border-width: 0;
  border-left-width: 5px;
  border-color: $lightgrey1;
  right: 0;
  top: 0;
  width: 200px;
  height: 100vh;
}
