$lightblue2: #3190ea;
$lightblue1: #3f6cac;
$lightblue3: #25264e;
$blue: #21397f;
$darkblue1: #004aa1;
$darkblue2: #0f1f6a;
$darkblue3: #00034f;
$darkblue4: #02032c;
$beige: #9dc5ff;
$white: #ffffff;
$darkgrey: #161616;

.background-lightblue1 {
  background-color: $lightblue1;
}
.background-lightblue2 {
  background-color: $lightblue2;
}
.background-blue {
  background-color: $blue;
}
.background-darkblue1 {
  background-color: $darkblue1;
}
.background-darkblue2 {
  background-color: $darkblue2;
}
.background-darkblue3 {
  background-color: $darkblue3;
}
.background-beige {
  background-color: $beige;
}
.background-darkgrey {
  background-color: $darkgrey;
}

.color-lightblue1 {
  color: $lightblue1;
}
.color-lightblue2 {
  color: $lightblue2;
}
.color-blue {
  color: $blue;
}
.color-darkblue1 {
  color: $darkblue1;
}
.color-beige {
  color: $beige;
}
.color-white {
  color: white;
}
