$lightblue1: #3f6cac;
$lightblue2: #3190ea;
$lightblue3: #25264e;
$blue: #21397f;
$darkblue1: #004aa1;
$darkblue2: #0f1f6a;
$darkblue3: #00034f;
$darkblue4: #02032c;
$beige: #9dc5ff;
$white: #ffffff;
$darkgrey1: #161616;
$darkgrey2: #35353a;

.background-lightblue1 {
  background-color: $lightblue1;
}
.background-lightblue2 {
  background-color: $lightblue2;
}
.background-lightblue3 {
  background-color: $lightblue3;
}
.background-blue {
  background-color: $blue;
}
.background-darkblue1 {
  background-color: $darkblue1;
}
.background-darkblue2 {
  background-color: $darkblue2;
}
.background-darkblue3 {
  background-color: $darkblue3;
}
.background-darkblue4 {
  background-color: $darkblue3;
}
.background-beige {
  background-color: $beige;
}
.background-darkgrey1 {
  background-color: $darkgrey1;
}
.background-darkgrey2 {
  background-color: $darkgrey2;
}

.color-lightblue1 {
  color: $lightblue1;
}
.color-lightblue2 {
  color: $lightblue2;
}
.color-lightblue3 {
  color: $lightblue3;
}
.color-blue {
  color: $blue;
}
.color-darkblue1 {
  color: $darkblue1;
}
.color-darkblue2 {
  color: $darkblue2;
}
.color-darkblue3 {
  color: $darkblue3;
}
.color-darkblue4 {
  color: $darkblue4;
}
.color-beige {
  color: $beige;
}
.color-white {
  color: white;
}
.color-darkgrey1 {
  color: $darkgrey1;
}
.color-darkgrey2 {
  color: $darkgrey2;
}
