@import "./../../styles/colors.scss";
@import "./../../styles/fonts.scss";
@import "./../../styles/general.scss";
@import "./../../styles/animations.scss";

.moderatorContainer {
  background-color: #35353a;
}
.moderatorNav {
  padding: 20px;
  color: white;
}
.tabContainer {
  padding: 20px;
}
