@import "./../../styles/colors.scss";
@import "./../../styles/fonts.scss";
@import "./../../styles/general.scss";
@import "./../../styles/animations.scss";

.navbarContainer {
  background-color: #35353a;
  padding: 10px;
  padding-right: 40px;
  color: white;
}
.navbarTab {
  color: white;
  text-decoration: none;
  margin-left: 40px;
}
